.box1
{
	background-color:salmon;
}
.box1 .container .row img
{
	width:60%;
}
.box2
{
	background-color:palegreen;
}
.box2 .container .row .col-md-7 img
{
	width:60%;
	height:50%;
}
.box3
{
	background-color:mistyrose;
	padding:30px;
}
.box3 .container h4
{
	display:inline;
	color:black;
	padding:10px;
	margin:10px;
}
.box4
{
	background-color:wheat;
}
.box5
{
	background:gainsboro;
}
